<form nz-form [formGroup]="rfFormGroup">
  <nz-form-item>
    <nz-form-label [nzSpan]="nzLablel" nzRequired>Tổng lượt đánh giá</nz-form-label>
    <nz-form-control [nzSpan]="nzControl" nzErrorTip="{{'nullOrWhiteSpace'|translate}}">
      <nz-input-number nzMin="0" formControlName="tongLuotDanhGia"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="nzLablel" nzRequired>Tổng điểm</nz-form-label>
    <nz-form-control [nzSpan]="nzControl" nzErrorTip="{{'nullOrWhiteSpace'|translate}}">
      <nz-input-number nzMin="0" formControlName="tongDiem"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6">Điểm</nz-form-label>
    <nz-form-control [nzSpan]="nzControl" nzErrorTip="{{'nullOrWhiteSpace'|translate}}">
      <nz-rate nzDisabled [formControl]="controlDiem"></nz-rate>
    </nz-form-control>
  </nz-form-item>
</form>
<div *nzModalFooter>
  <button nz-button (click)="close()">
    <i nz-icon nzType="close"> </i>
    Đóng
  </button>
  <button nz-button nzType="dashed" (click)="resetDefault()">
    <i nz-icon nzType="rotate-left" nzTheme="outline"></i>
    Thiết lập lượt đánh giá thực tế
  </button>
  <button nz-button nzType="primary" (click)="save()">
    <i nz-icon nzType="save"> </i>
    Lưu
  </button>
</div>
