:host {
  height: 100%;
  margin: 0;
}

#error-page {
  background-image: url("../../../assets/images/error-img.png");
  background-size: auto 300px;
  background-position: bottom;
  background-color: white;
}
