<div
  class="
    d-flex
    flex-column flex-column-fluid
    bgi-position-y-bottom
    position-x-center
    bgi-no-repeat bgi-size-contain bgi-attachment-fixed
  "
  id="error-page">
  <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-20">
    <div class="pt-lg-10">
      <router-outlet></router-outlet>
      <div class="text-center">
        <a
          (click)="routeToDashboard()"
          class="btn btn-lg btn-primary fw-bolder cursor-pointer"
        >
          Trang chủ
        </a>
      </div>
    </div>
  </div>

  <div class="d-flex flex-center flex-column-auto p-10">
    <div class="d-flex align-items-center fw-bold fs-6">

    </div>
  </div>
</div>
