<app-search-page-shared layout="vertical" titlePage='Danh sách mã địa điểm'
>
  <div boxSearchPage id='box-search-page'>
    <form nz-form [formGroup]="rfFormGroup" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label>Nội dung tìm kiếm</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="filter"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <ora-select formControlName="isActive" [dirCustomSource]="sourceTrangThai"></ora-select>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="text-right">
      <button nzType="primary" nz-button (click)="refresh()">
        <i nz-icon nzType='search'></i>{{'search' | translate}}
      </button>
    </div>
  </div>
  <span titleExtendPage>
  </span>
  <div actionBtnPage id='action-btn-page'>
    <button nz-button nzType='primary' (click)='showCreateOrEditModal()'>
      <i nz-icon nzType='plus' nzTheme='outline'></i> Thêm mới
    </button>
  </div>
  <!-- content page -->
  <div contentPage id='content-page'>
    <ora-table [rows]="dataList" [isLoading]="$isTableLoading|async" [totalRows]="totalItems" [(pageSize)]="pageSize"
               [(page)]="pageNumber" (pageSizeChange)="refresh()" (pageChange)="pageNumberChange()"
               (sortChange)="gridSort($event)">
      <ora-column header="STT" width="100px" align="center" dataType="STT">
      </ora-column>
      <ora-column header="" width="100px" align="center">
        <ng-template oraCell let-data>
          <button nz-button nzType="link" (click)="delete(data)" title="Xoá" nzDanger>
            <i nz-icon nzType="delete"></i>
          </button>
            <button nz-button nzType="link" (click)="showCreateOrEditModal(data)" title="Sửa">
              <i nz-icon nzType="edit"></i>
            </button>

        </ng-template>
      </ora-column>
      <ora-column header="Loại mã" key="loaiMa" align="center">
      </ora-column>
      <ora-column header="Mã" key="ma" align="center">
      </ora-column>
      <ora-column header="Ngày cấp" key="ngayCap" align="center" dataType="DateTime">
      </ora-column>
      <ora-column header="Ngày hết hạn" key="ngayHetHan" align="center" dataType="DateTime">
      </ora-column>
      <ora-column header="Năm nợ phí" key="namNoPhi" align="center">
      </ora-column>
      <ora-column header="Tổng nợ phí" key="tongNoPhi" align="center">
      </ora-column>
      <ora-column width="120px" header="Trạng thái" key="isActive" align="center">
        <ng-template oraCell let-data>
          <nz-tag [nzColor]="data.isActive? 'green':'red'">
            {{data.isActive ? 'Hoạt động' : 'Huỷ'}}
          </nz-tag>
        </ng-template>
      </ora-column>
    </ora-table>

  </div>
</app-search-page-shared>

