<app-search-page-shared layout="vertical" titlePage='Danh sách mã địa điểm'
>
  <div boxSearchPage id='box-search-page'>
    <form nz-form [formGroup]="rfFormGroup" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label>Nội dung tìm kiếm</nz-form-label>
        <nz-form-control>
          <input placeholder="Nhập tên/ Username để tìm kiếm" nz-input formControlName="filter"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <ora-select formControlName="isActive" [dirCustomSource]="sourceTrangThai"></ora-select>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="text-right">
      <button nzType="primary" nz-button (click)="refresh()">
        <i nz-icon nzType='search'></i>{{'search' | translate}}
      </button>
    </div>
  </div>
  <span titleExtendPage>
  </span>
  <div actionBtnPage id='action-btn-page'>
    <button nz-button nzType='primary' (click)='openEdit()'>
      <i nz-icon nzType='plus' nzTheme='outline'></i> Thêm mới
    </button>
  </div>
  <!-- content page -->
  <div contentPage id='content-page'>
    <ora-table [rows]="dataList" [isLoading]="$isTableLoading|async" [totalRows]="totalItems" [(pageSize)]="pageSize"
               [(page)]="pageNumber" (pageSizeChange)="refresh()" (pageChange)="pageNumberChange()"
               (sortChange)="gridSort($event)">
      <ora-column header="STT" width="100px" align="center" dataType="STT">
      </ora-column>
      <ora-column header="" width="100px" align="center">
        <ng-template oraCell let-data>
          <app-common-grid-actions>
            <app-common-grid-action-item actionType='edit' title="Sửa thông tin người dùng"
                                         (onclickEvent)='openEdit(data)'
            ></app-common-grid-action-item>
            <app-common-grid-action-item actionName="Đổi mật khẩu" nzIcon="key"
                                         (onclickEvent)='openChangePassword(data)'
            ></app-common-grid-action-item>
<!--            <app-common-grid-action-item  actionName='Gán doanh nghiệp'-->
<!--                                          nzIcon="menu-unfold"-->
<!--                                          (onclickEvent)='openGanDoanhNghiepModal(data)'-->
<!--            ></app-common-grid-action-item>-->

            <app-common-grid-action-item actionName='Khóa tài khoản' *ngIf="data.lockoutEnabled && !data.locked"
                                         nzIcon="lock"
                                         (onclickEvent)='onLockUser(data,true)'
            ></app-common-grid-action-item>
            <app-common-grid-action-item actionName='Mở tài khoản' *ngIf="data.lockoutEnabled && data.locked"
                                         nzIcon="unlock"
                                         (onclickEvent)='onLockUser(data,false)'
            ></app-common-grid-action-item>


            <app-common-grid-action-item actionName='Gán vai trò'
                                         nzIcon="setting"
                                         (onclickEvent)='onGrantRole(data)'
            ></app-common-grid-action-item>
            <app-common-grid-action-item actionType='delete'
                                         (onclickEvent)='delete(data)'></app-common-grid-action-item>
          </app-common-grid-actions>
        </ng-template>
      </ora-column>
      <ora-column header="Tên đăng nhập" key="userName" align="center">
      </ora-column>
      <ora-column header="Tên tỉnh" key="ma" align="center">
      </ora-column>
      <ora-column header="Tên huyện" key="maHuyen" align="center" dataType="DateTime">
      </ora-column>
      <ora-column header="Tên xã" key="ngayHetHan" align="center" dataType="DateTime">
      </ora-column>
      <ora-column header="Tên người dùng" key="name" align="center">
      </ora-column>
      <ora-column header="Loại tài khoản" key="loaiTaiKhoan" align="center">
      </ora-column>
      <ora-column width="120px" header="Trạng thái" key="isActive" align="center">
        <ng-template oraCell let-data>
          <app-common-cell-is-active [isActive]="!data.locked" trueText="Đã kích hoạt"
                                     falseText="Đã khóa"></app-common-cell-is-active>
<!--          <nz-tag [nzColor]="data.locked? 'green':'red'">-->
<!--            {{data.locked ? 'Đã kích hoạt' : 'Đã khoá'}}-->
<!--          </nz-tag>-->
        </ng-template>
      </ora-column>
    </ora-table>

  </div>
</app-search-page-shared>

