<app-search-page-shared layout="vertical" titlePage='Danh sách sản phẩm'
                        [pageSpinning]='loading'>
  <div boxSearchPage id='box-search-page'>
    <app-search-form [searchSchema]="searchSchema"></app-search-form>
  </div>
  <span titleExtendPage>
    {{vcGrid.nzTable | titleTotalRecordTable :'sản phẩm'}}
  </span>
  <div actionBtnPage id='action-btn-page'>
    <app-upload-excel-san-pham [doanhNghiepDto]="doanhNghiepModeDto"></app-upload-excel-san-pham>
    <button nz-button nzType='primary' (click)='openCreateOrUpdate()'>
      <i nz-icon nzType='plus' nzTheme='outline'></i> Thêm mới
    </button>
  </div>
  <!-- content page -->
  <div contentPage id='content-page'>
    <ord-grid #vcGrid [searchSchema]="searchSchema"
              rowHeight="100"
              [dataSourceFunc]="this.proxyServices.getList">
      <ord-column field="ma" width="160">
        <ng-template ord-header>
          <app-common-header-sort
            headerText='Mã (GTIN)'
            field='ma'
            [searchSchema]='searchSchema'>
          </app-common-header-sort>
        </ng-template>
      </ord-column>
      <ord-column width="160" textAlign="Center">
        <ng-template ord-content let-record>
          <img alt="" src="{{record.baseImageUrl}}" height="90">
        </ng-template>
      </ord-column>
      <ord-column field='ten' headerText='Tên sản phẩm' minWidth="200"></ord-column>
      <ord-column headerText='Nhóm sản phẩm' width="200">
        <ng-template ord-content let-record>
          {{record.nhomSanPhamId | nhomSanPhamDisplayText | async}}
        </ng-template>
      </ord-column>
      <ord-column headerText='Thao tác' width='130' textAlign="Center">
        <ng-template ord-content let-record>
          <app-common-grid-actions>

            <app-common-grid-action-item actionType='edit'
                                         (onclickEvent)='openCreateOrUpdate(record)'
            ></app-common-grid-action-item>
            <app-common-grid-action-item actionType='delete'
                                         (onclickEvent)='delete(record)'></app-common-grid-action-item>
          </app-common-grid-actions>
        </ng-template>
      </ord-column>
    </ord-grid>
  </div>
</app-search-page-shared>
