.ant-modal-body {
  padding: 12px 18px !important;
}

.ant-modal-header {
  padding: 16px 18px !important;
}

.ant-modal {
  top: 36px !important;
}

.ant-table-row {
  td {
    padding: 6px 8px !important;
  }
}

.ant-table-thead {
  th {
    padding: 10px 8px !important;
  }
}

.reuse-tab__name {
  display: inline-block !important;
  margin-right: 10px !important;
}

.reuse-tab__op {
  margin-right: 3px !important;
}

.anticon {
  vertical-align: unset !important;
}

.ant-drawer-title {
  font-size: 18px !important;
  text-transform: uppercase !important;
}

a.ant-btn {
  padding-top: 8px !important;
}
