<ng-container *ngIf="(user$| async) as user">
  <div
    class="cursor-pointer symbol symbol-30px symbol-md-40px"
    data-kt-menu-trigger="hover"
    data-kt-menu-attach="parent"
    data-kt-menu-placement="bottom-end"
    data-kt-menu-flip="bottom"
  >
    <img src="./assets/images/icon/account.png" alt="metronic"/>
    <span class="margin-left-sm fw-bold">{{user.userName}}</span>
    <i nz-icon nzType="down" nzTheme="outline" class="ms-3"></i>
  </div>
  <div data-kt-menu="true"
       class="mt-3 menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px">
    <div class="menu-item px-3">
      <div class="menu-content d-flex align-items-center px-3">
        <div class="symbol symbol-50px me-5">
          <img src="./assets/media/logos/logo-2.svg" alt="avatar" style="width: 30px"/>
        </div>

        <div class="d-flex flex-column">
          <div class="fw-bolder d-flex align-items-center fs-5">
            {{user.name}}
            <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2"
            >Pro</span
            >
          </div>
          <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">

          </a>
        </div>
      </div>
    </div>

    <div class="separator my-2"></div>

    <div class="menu-item px-5">
      <a (click)="vcUserProfileModal.open()" class="menu-link px-5">
        {{'user.information' | translate}}
      </a>
    </div>

    <div class="menu-item px-5 my-1">
      <a (click)="vcChangePwd.open()" class="menu-link px-5">
        {{'user.changePassword' | translate}}
      </a>
    </div>
    <div class="menu-item px-5">
      <a (click)="refreshUserSession()" class="menu-link px-5 cursor-pointer"> Làm mới danh mục </a>
    </div>
    <div class="menu-item px-5">
      <a (click)="logout()" class="menu-link px-5 cursor-pointer"> {{'user.logout' | translate}} </a>
    </div>
  </div>
</ng-container>


<!-- modal đổi mật khẩu-->
<app-change-pwd-modal #vcChangePwd></app-change-pwd-modal>
<app-user-profile-modal #vcUserProfileModal></app-user-profile-modal>
