<app-search-page-shared layout="vertical" titlePage='Danh sách quận/ huyện'
                        [pageSpinning]='loading'>
  <div boxSearchPage id='box-search-page'>
    <app-search-form [searchSchema]="searchSchema"></app-search-form>
  </div>
  <span titleExtendPage>
    {{vcGrid.nzTable | titleTotalRecordTable :'quận huyện'}}
  </span>
  <div actionBtnPage id='action-btn-page'>
    <button nz-button nzType='primary' (click)='openCreateOrUpdate()'>
      <i nz-icon nzType='plus' nzTheme='outline'></i> Thêm mới
    </button>
  </div>
  <!-- content page -->
  <div contentPage id='content-page'>
    <ord-grid #vcGrid [searchSchema]="searchSchema" hasCheckboxColumn
              [dataSourceFunc]="this.proxyServices.getList">
<!--      <ord-column field="maHuyen" width="120">-->
<!--        <ng-template ord-header>-->
<!--          <app-common-header-sort-->
<!--            headerText='Mã huyện'-->
<!--            field='maHuyen'-->
<!--            [searchSchema]='searchSchema'></app-common-header-sort>-->
<!--        </ng-template>-->
<!--      </ord-column>-->
      <ord-column field='tenHuyen' headerText='Tên huyện' minWidth="200"></ord-column>
      <ord-column headerText='Tên tỉnh' width='200'>
        <ng-template ord-content let-record>
          {{record.maTinh| tinhDisplayText| async}}
        </ng-template>
      </ord-column>
      <ord-column headerText='Sử dụng' width='90' textAlign='Center'>
        <ng-template ord-content let-record>
          <app-common-cell-is-active [isActive]="record.isActive"></app-common-cell-is-active>
        </ng-template>
      </ord-column>
      <ord-column headerText='Thao tác' width='120' textAlign="Center">
        <ng-template ord-content let-record>
          <app-common-grid-actions>
            <app-common-grid-action-item actionType='edit'
                                         (onclickEvent)='openCreateOrUpdate(record)'
            ></app-common-grid-action-item>
            <app-common-grid-action-item actionType='delete'
                                         (onclickEvent)='delete(record)'></app-common-grid-action-item>
          </app-common-grid-actions>
        </ng-template>
      </ord-column>
    </ord-grid>
  </div>
</app-search-page-shared>

