<div>
  <div>
    <img src="./assets/images/icon/products.png" class="me-3 h-18"/>
    <span class="text-primary product-name">{{sanPhamDto.ten}}</span>
  </div>
  <div>
    <img src="./assets/images/icon/office-building.png" class="me-3 h-18"/>
    <app-doanh-nghiep-cell [doanhNghiepId]="sanPhamDto.doanhNghiepId"></app-doanh-nghiep-cell>
  </div>
</div>
<div>
  <of [schemaModel]="formSchema"></of>
</div>
<div *nzModalFooter>
  <button nz-button (click)="destroyModal()">
    <i nz-icon nzType="close" nzTheme="outline"></i>Đóng
  </button>
  <button nz-button nzType="primary" (click)="onSave()">
    <i nz-icon nzType="save" nzTheme="outline"></i>Lưu
  </button>
</div>
