<app-search-page-shared layout="vertical" titlePage='Danh sách loại dịch vụ'
                        [pageSpinning]='loading'>
  <div boxSearchPage id='box-search-page'>
    <app-search-form [searchSchema]="searchSchema"></app-search-form>
  </div>
  <span titleExtendPage>
    {{vcGrid.nzTable | titleTotalRecordTable :'loại dịch vụ'}}
  </span>
  <div actionBtnPage id='action-btn-page'>
<!--    <button nz-button nzType='primary' (click)='openCreateOrUpdate()'>-->
<!--      <i nz-icon nzType='plus' nzTheme='outline'></i> Thêm mới-->
<!--    </button>-->
  </div>
  <!-- content page -->
  <div contentPage id='content-page'>
    <ord-grid #vcGrid [searchSchema]="searchSchema"
              [dataSourceFunc]="this.proxyServices.getList">
      <ord-column field='ten' headerText='Tên loại dịch vụ' minWidth="200"></ord-column>
<!--      <ord-column headerText='Tính giá theo' width='200'>-->
<!--        <ng-template ord-content let-record>-->
<!--          {{record.loaiDonViTinh | loaiDonViTinhDichVuDisplayText | async}}-->
<!--        </ng-template>-->
<!--      </ord-column>-->
<!--      <ord-column headerText='Thao tác' width='130' textAlign="Center">-->
<!--        <ng-template ord-content let-record>-->
<!--          <app-common-grid-actions>-->
<!--            <app-common-grid-action-item actionType='edit'-->
<!--                                         (onclickEvent)='openCreateOrUpdate(record)'-->
<!--            ></app-common-grid-action-item>-->
<!--            <app-common-grid-action-item actionType='delete'-->
<!--                                         (onclickEvent)='delete(record)'></app-common-grid-action-item>-->
<!--          </app-common-grid-actions>-->
<!--        </ng-template>-->
<!--      </ord-column>-->
    </ord-grid>
  </div>
</app-search-page-shared>
