<app-search-page-shared layout="horizontal" titlePage='Danh sách sản phẩm nổi bật'
                        [pageSpinning]='loading'>
  <div boxSearchPage id='box-search-page'>
    <app-search-form [searchSchema]="searchSchema"></app-search-form>
  </div>
  <span titleExtendPage>
    {{vcGrid.nzTable | titleTotalRecordTable :'sản phẩm nổi bật'}}
  </span>
  <div actionBtnPage id='action-btn-page'>
    <button nz-button nzType='primary' (click)='openCreateOrUpdate()'>
      <i nz-icon nzType='plus' nzTheme='outline'></i> Thêm mới
    </button>
  </div>
  <!-- content page -->
  <div contentPage id='content-page'>
    <ord-grid #vcGrid [searchSchema]="searchSchema"
              rowHeight="120"
              [dataSourceFunc]="this.proxyServices.getList">
      <ord-column field="ma" width="130" headerText="Mã gtin">
        <ng-template ord-content let-record>
          {{record.maGtin}}
        </ng-template>
      </ord-column>
      <ord-column headerText='Thông tin sản phẩm'>
        <ng-template ord-content let-record>
          <div><span class="thong-tin-sp-title "> Tên:</span> {{record?.sanPham?.ten}}</div>
          <div>
            <span
              class="thong-tin-sp-title ">Nhóm:  </span>  {{record?.sanPham?.nhomSanPhamId | nhomSanPhamDisplayText | async}}
          </div>
          <div>
            <span class="thong-tin-sp-title ">Doanh nghiệp:</span>
            <app-doanh-nghiep-cell [doanhNghiepId]="record?.sanPham?.doanhNghiepId"></app-doanh-nghiep-cell>
          </div>
        </ng-template>
      </ord-column>
      <ord-column headerText='Áp dụng từ ngày' width="130">
        <ng-template ord-content let-record>
          {{record.startDate | date:'dd/MM/yyyy'}}
        </ng-template>
      </ord-column>
      <ord-column headerText='Đến ngày' width="130">
        <ng-template ord-content let-record>
          {{record.endDate | date:'dd/MM/yyyy'}}
        </ng-template>
      </ord-column>
      <ord-column headerText='Trạng thái' width="100">
        <ng-template ord-content let-record>
          {{record.trangThai| trangThaiSanPhamNoiBatDisplayText | async}}
        </ng-template>
      </ord-column>
      <ord-column headerText='Thao tác' width='130' textAlign="Center">
        <ng-template ord-content let-record>
          <app-common-grid-actions>
            <app-common-grid-action-item actionType='edit'
                                         (onclickEvent)='openCreateOrUpdate(record)'
            ></app-common-grid-action-item>
            <app-common-grid-action-item actionType='delete'
                                         (onclickEvent)='delete(record)'></app-common-grid-action-item>
          </app-common-grid-actions>
        </ng-template>
      </ord-column>
    </ord-grid>
  </div>
</app-search-page-shared>
